## Tomtom processing

In [1]:
import pandas as pd
import numpy as np

In [13]:
tomtom = pd.read_csv('../data_sources/tomtom_traffic_index.csv')
london = tomtom.loc[(tomtom.country=='United Kingdom') & (tomtom.city=='London')]\
               .set_index('date').drop(['country', 'city'], axis=1).loc[:'2021-07-31']
london

            congestion  diffRatio
date
2019-12-30          21  -0.363636
2019-12-31          20  -0.459459
2020-01-01          11  -0.710526
2020-01-02          19  -0.512821
2020-01-03          22  -0.421053
...                ...        ...
2021-07-27          29  -0.216216
2021-07-28          34  -0.105263
2021-07-29          33  -0.153846
2021-07-30          38   0.000000
2021-07-31          30   0.071429

[576 rows x 2 columns]

In [14]:
london.to_csv('../datasets/tomtom_london.csv')

In [24]:
sydney = tomtom.loc[(tomtom.country=='Australia') & (tomtom.city=='Sydney')]\
                .set_index('date').drop(['country', 'city'], axis=1).loc[:'2021-07-31']
sydney

            congestion  diffRatio
date
2019-12-30          20  -0.354839
2019-12-31          19  -0.457143
2020-01-01          13  -0.648649
2020-01-02          20  -0.459459
2020-01-03          21  -0.416667
...                ...        ...
2021-07-27           9  -0.742857
2021-07-28           9  -0.756757
2021-07-29           9  -0.756757
2021-07-30           9  -0.750000
2021-07-31           8  -0.692308

[575 rows x 2 columns]

In [25]:
sydney.to_csv('../datasets/tomtom_sydney.csv')

In [29]:
hong_kong = tomtom.loc[tomtom.country=='Hong Kong']\
                    .set_index('date').drop(['country', 'city'], axis=1).loc[:'2021-07-31']
hong_kong

            congestion  diffRatio
date
2019-12-30          22  -0.043478
2019-12-31          24   0.000000
2020-01-01           7  -0.695652
2020-01-02          21  -0.125000
2020-01-03          29   0.074074
...                ...        ...
2021-07-27          39   0.625000
2021-07-28          40   0.739130
2021-07-29          42   0.750000
2021-07-30          46   0.703704
2021-07-31          41   1.157895

[575 rows x 2 columns]

In [30]:
hong_kong.to_csv('../datasets/tomtom_hong_kong.csv')

In [39]:
new_york = tomtom.loc[(tomtom.country=='United States of America') & (tomtom.city=='New York')]\
                    .set_index('date').drop(['country', 'city'], axis=1).loc[:'2021-07-31']
new_york

            congestion  diffRatio
date
2019-12-30          29  -0.033333
2019-12-31          18  -0.454545
2020-01-01           6  -0.828571
2020-01-02          22  -0.405405
2020-01-03          24  -0.351351
...                ...        ...
2021-07-27          25  -0.242424
2021-07-28          26  -0.257143
2021-07-29          29  -0.216216
2021-07-30          32  -0.135135
2021-07-31          25   0.086957

[576 rows x 2 columns]

In [40]:
new_york.to_csv('../datasets/tomtom_new_york.csv')

In [18]:
# First Lockdown
london.loc['2020-03-23':'2020-05-13'].mean()

congestion    9.923077
diffRatio    -0.708581
dtype: float64

In [20]:
# Second lockdown
london.loc['2020-05-11':'2020-12-02'].mean()

congestion    25.712195
diffRatio     -0.245704
dtype: float64

In [21]:
# Third lockdown
london.loc['2020-12-10':'2021-03-08'].mean()

congestion    20.604651
diffRatio     -0.390944
dtype: float64

In [13]:
tomtom.loc['4/11/20']

congestion    59.000000
diffRatio      0.552632
Name: 4/11/20, dtype: float64